@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte1);
    font-size: 1em;
}
header {
    background-color: black;
    text-align: center;
    font-weight: bolder; 
    div {
        h1 {
            color: white;
            text-shadow: 0.5px 0.5px 0.5px white;
            font-variant: small-caps;
            font-family: var(--fonte2);
            font-size: 10vw;
            padding-top: 50px;
        }

        p {
            color: white;
            text-shadow: 0.5px 0.5px 1px white;    
            font-family: var(--fonte1);
            padding-bottom: 50px;
            a {
                text-decoration: none;
                color: white;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }    
}

main {
    .normal {
        font-family: var(--fonte3);
        font-size: 3vw;
        font-style: italic;
        text-shadow: 0.5px 0.5px 1px white;;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        line-height: 2em;
        background-color: white;
    }
   
    .imagem {
        font-family: var(--fonte3);
        font-size: 3vw;
        font-style: italic;
        color: white;
        text-shadow: 0.5px 0.5px 1px rgb(0, 0, 0);;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        line-height: 2em;
        background-color: black;
        
        p {
            display: inline-block;
            background-color: rgba(0, 0, 0, 0.295);
            padding: 10px;
        }
    }
    #img1 {
        background-image: url(https://professorguanabara.github.io/projeto-cordel/imagens/background001.jpg);
        background-attachment: fixed;
        background-position: right center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.552)
        }

    #img2 {
        background-image: url(https://professorguanabara.github.io/projeto-cordel/imagens/background002.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.552)
    }
}

footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
    
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        text-decoration: underline;
    }
}